__pycache__

/mistral_version
/azcopy_linux_amd64_10.25.1
/contexts
/phi3
/results
/phi-3-1-longrope-dynamic-m5-3-swa128k-unfreeze-bf16-t100-hw-scale-hw-mscale-dm
/Phi3_1-mini-rope4_5-mixed-context-window-2B